body {
    background-color: #f1f5f9;
}

.wrapper {
    width: 300px;
    text-align: center;
}

button {
    background-color: #facc15;
    width: 150px;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    border-radius: 7px;

}

.colorGrid {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 2px;
}

.selectedColor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.colorValue {
    margin-left: 5px;
    font-size: 15px;
}